.playlist-info {
    header {
        display: flex;
        align-items: center;
        gap: 40px;

        h1 {
            font-size: 4em;
        }

        .info {
            margin-top: 20px;
        }

        span {
            margin: 0 5px;
        }
    }

    .tracks {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 20px;
        background-color: rgba(255, 255, 255, 0.02);
        border-radius: 5px;

        .track {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            transition: 0.3s ease-out;
            cursor: pointer;
            padding: 12px 12px;
            border-bottom: 1px solid #1b1b1b;

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.05);
            }

            ion-icon {
                font-size: 1.1em;
            }

            .col {
                text-align: center;
            }
        }

        .impo {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        h4 {
            font-weight: 500;
            margin-bottom: 3px;
            font-size: 1.4em;
        }

        .info {
            font-size: 0.9em;
            text-align: left;

            p {
                color: #7b7b7b;
                margin: 0;
                text-align: left;
            }
        }

        img {
            width: 55px;
            height: 55px;
            object-fit: cover;
            border-radius: 4px;
        }
    }

    .playlist-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
}