.main {
    margin-top: 5px;

    .searchBar {
        background-color: rgba(255, 255, 255, 0.05);
        transition: 0.3s ease-out;
        width: 55%;
        padding: 1em 1.7em;
        border-radius: 50px;
        cursor: text;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgba(255, 255, 255, 0.07);
        }

        input {
            border: none;
            outline: none;
            background-color: transparent;
            color: white;
            font-family: inherit;
            width: 100%;
        }

        ion-icon {
            font-size: 1.4em;
        }
    }

    .feat_playlists {
        margin-top: 30px;

        .row {
            gap: 20px;

            &>* {
                background-color: rgba(255, 255, 255, 0.05);
                padding: 15px;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.3s ease-out;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .blur {
                    width: 90%;
                    object-fit: cover;
                    border-radius: 5px;
                    position: absolute;
                    z-index: -1;
                    inset: 0;
                    top: 30px;
                    left: 5%;
                    filter: blur(40px) brightness(0.5);
                }

                .uri {
                    display: none;
                }

                h4 {
                    margin-top: 15px;
                    margin-left: 5px;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.07);
                }
            }
        }
    }
}