@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..600&family=Teko:wght@500&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    color: white;
    background-color: rgb(5, 5, 5);

    #root .content {
        width: 100%;
        padding: 15px;
        display: grid;
        grid-template-columns: 1.4fr 4fr;
        gap: 15px;

        &>* {
            padding: 20px;
        }

        .navbar {
            background-color: rgba(255, 255, 255, 0.03);
            border-radius: 20px;
        }
    }

    .logo {
        font-family: "Teko", sans-serif;
    }

    &::-webkit-scrollbar {
        background-color: rgba(255, 255, 255, 0.03);
    }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 20px;
            width: 15px;
            transition: 0.3s ease;

            &:hover {
                background-color: rgba(255, 255, 255, 0.09);
            }
        }
}

h1, h2, h3, h4 {
    overflow: hidden;
}

h1, h2 {
    font-weight: 600;
}